a, 
a:hover{
    text-decoration: none;
    color:inherit
    
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

.appBar {

background: #E7473C;

}

html, body, #root {
    height: 100%;
    background-color: #e4e4e4;
    margin: 0;
  }


  .MuiChip-root:hover {
    transform: scale(1.04);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
  } 


/* .product-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1.5rem;
    padding: 1rem;
    background: red;
  }

.product-cardItem {
    grid-column: span 3;
}   */