a, 
a:hover{
    text-decoration: none;
    color:inherit
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

.appBar {

background: #E7473C;

}

html, body, #root {
    height: 100%;
    background-color: #e4e4e4;
    margin: 0;
  }

/* .product-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1.5rem;
    padding: 1rem;
    background: red;
  }

.product-cardItem {
    grid-column: span 3;
}   */